<table>
  <tr>
    <th>Location</th>
    <th>Nature</th>
    <th>Duration</th>
  </tr>
  <br>
  <tr>
    <td><%= @job.location %></td>
    <td><%= @job.nature %></td>
    <td><%= @job.duration %> hours</td>
  </tr>
</table>

<form method="post" action="/jobs/<%=@job.id%>/delete">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Job">
</form>

<a href="/jobs/<%=@job.id%>/edit"> Edit Job </a>
